body {
    
}

table {
    margin: 20px auto;
    width: 80%;
    max-width: 85%;
    height: max-content;
    text-align: center;
}

thead {
    background-color: rgb(209, 238, 248);
} 

tbody {
    background-color: whitesmoke;
}

tbody th {
    overflow: hidden;
}

#div_for_input {
    margin: 10px auto;
    display: flex;
    justify-content: center;
}

#div_for_input input {
    width: 50%;
    margin-right: 15px;
    min-width: 20%;
}

#div_for_input button {
}