body, input, button {
    font-family: 'Roboto', serif;
    font-size: 16px;
    font-weight: 400;

}

h2 {
    text-align: center;
}

table {
    margin: 20px auto;
    width: 80%;
    max-width: 85%;
    height: max-content;
    text-align: center;
}

thead {
    background-color: rgb(209, 238, 248);
} 

tbody {
    background-color: whitesmoke;
}

tbody th {
    overflow: hidden;
}

#div_for_input {
    margin: 10px auto;
    display: flex;
    justify-content: center;
}

#div_for_input input {
    width: 50%;
    margin-right: 15px;
    min-width: 100px;
}

#div_for_input button {
    padding: 2px 20px;
    background-color: rgb(209, 238, 248);
    border-radius: 25px;
    border: 1px solid lightblue;
    min-width: fit-content;
}